.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  display: flex;
  flex-direction: column;
  gap: var(--cell-gap, 2px);
}

.period {
  display: flex;
  gap: var(--cell-gap, 2px);
}

.separator {
  height: 20px;
}

.fBlockRow {
  display: flex;
  gap: var(--cell-gap, 2px);
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
